<ion-view view-title="Players of {{teamName}}">
  <ion-content  lazy-scroll>

    <ion-item ng-repeat="player in players" >
			<div class="row row-center" ng-click="showPlayers(player.id)">
			  <div class="col">
			  
				  <div class="row">
						<div class="col">
							{{player.name}} 
						</div>
					</div>

					<div class="row">
						<div class="col">
							Số áo: {{player.jerseyNumber}} 
						</div>
					</div>
				
					<div class="row">
						<div class="col">
							Vị trí: {{player.position}} 
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							Đơn vị: {{player.nationality}} 
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							Ngày sinh: {{player.dateOfBirth}} 
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							Giá trị chuyển nhượng: {{player.marketValue ? player.marketValue : 'Tự do'}} 
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							Hợp đồng đến: {{player.contractUntil}} 
						</div>
					</div>

				</div>
			</div>

    </ion-item>

  </ion-content>
</ion-view>
