<ion-view view-title="AM League">
  <ion-content lazy-scroll>
    <div class="row rank-team-wrapper">
      <div class="col rank-teamlogo">Đội</div>
      <div class="col">ST</div>
      <div class="col">T</div>
      <div class="col">H</div>
      <div class="col">B</div>
      <div class="col">TG</div>
      <div class="col">TH</div>
      <div class="col">Đ</div>
   
</div>

  <div class="row rank-team-wrapper" ng-repeat="league in leagueTable" ng-click="">
  
    <div class="col rank-teamlogo">
      <div image-lazy-src="{{league.crestURI}}" image-lazy-background-image="true" image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="100" class="teamlogo"></div>

      {{league.teamName}}
    </div>
    
    <div class="col">{{league.points}}</div>
    <div class="col">{{league.wins}}</div>
    <div class="col">{{league.draws}}</div>
    <div class="col">{{league.losses}}</div>
    <div class="col">{{league.playedGames}}</div>
    <div class="col">{{league.goals}}</div>
    <div class="col">{{league.goalsAgainst}}</div>
   
  </div>
  </ion-content>
</ion-view>
